<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/searches" method="POST">
        Search<input type="text" name="search">
    
        Title Search<input type="radio" value="title" name="search_radio">
        Author Search<input type="radio" value="author" name="search_radio">
        <input type="submit">
      </form>
</body>
</html>