<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="/styles/module.css">
  
    <title>Books</title>
</head>
<body>
    <ul>
    <% for(let i = 0; i < bookArray.length; i++){ %>
 
        <li>

          <h2><%= bookArray[i].title %></h2>
            <img src =  "<%= bookArray[i].image%> " > 
            <h2>Author: <%= bookArray[i].author %></h2>
            <h2>Description:</h2>
           <p> <%= bookArray[i].overview %></p>
            
      
          
          
        </li>
 
        <% } %>
    </ul>
</body>
</html>