<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section>
        <ul>
            <li> Book Title: <%= book.title %></li>
            <li> Auther: <%= book.author %></li>
            <li> Description: <%= book.description %></li>
            <li> ISBN: <%= book.isbn %></li>


        </ul>

    </section>
    <a href = "/">RETURN</a>


</body>
</html>